[submodule "dircolors/solarized"]
	path = colors/dircolors/solarized
	url = git://github.com/seebi/dircolors-solarized.git
[submodule "themes/solarized/iterm2-colors-solarized"]
	path = colors/themes/solarized/iterm2-colors-solarized
	url = git@github.com:chpatton013/iterm2-colors-solarized.git
[submodule "themes/solarized/gnome-terminal-colors-solarized"]
	path = colors/themes/solarized/gnome-terminal-colors-solarized
	url = git://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "themes/solarized/konsole-colors-solarized"]
	path = colors/themes/solarized/konsole-colors-solarized
	url = git://github.com/phiggins/konsole-colors-solarized.git
[submodule "themes/solarized/tmux-colors-solarized"]
	path = colors/themes/solarized/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized
[submodule "tmux/plugins/tmux-continuum"]
	path = tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = git@github.com:tmux-plugins/tmux-resurrect.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "vim/fonts"]
	path = vim/fonts
	url = git@github.com:powerline/fonts.git
